<%= form_for @channel, :html => { :class => "form-horizontal channel" } do |f| %>

  <% if @channel.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @channel.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :color, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :color, :class => 'form-control' %>
    </div>
    <%=f.error_span(:color) %>
  </div>
  <div class="form-group">
    <%= f.label :font, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :font, :class => 'form-control' %>
    </div>
    <%=f.error_span(:font) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                channels_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
