<%- model_class = Holiday -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Feriados' %></h1>
  <%= link_to t('.new', :default => t("helpers.links.new")),
  new_holiday_path,
  :class => 'btn btn-primary' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Id </th>
      <th> Nome </th>
      <th> Data </th>
      <th> Criado em </th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @holidays.each do |holiday| %>
      <tr>
        <td><%= link_to holiday.id, holiday_path(holiday) %></td>
        <td><%= holiday.name %></td>
        <td><%= holiday.date %></td>
        <td><%=l holiday.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_holiday_path(holiday), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      holiday_path(holiday),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
