<%- model_class = Meeting -%>

<%#= render :partial => 'oldIndex' %>

<%= month_calendar events: (@meetings + @holidays) do |date, events| %>
  <p class="bg-primary" style="padding-left: 8px;margin-bottom: 0px;"> <%= date.day %> </p>

  <% events.each do |meeting| %>
    <div>
      <!-- <p class="bg-primary"> <%= link_to meeting.name, meeting_path(meeting) %> </p> -->

      <nav class="navbar navbar-default" style='margin-bottom: 0px;margin-top: 0px;padding-top: 10px; background-color: <%= meeting.color %>;'>
        <div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
          <ul style="text-align: center;padding-left: 0px; font-size: 12px">
            <% if current_user.admin == 0 %>
              <% if meeting.start_time.strftime("%H:%M") == '00:00' %>
                <%= label_tag :nil, meeting.name, :style => "color: #{meeting.font};"%>
              <% else %>
                <%= label_tag :nil, meeting.name + " - " + meeting.start_time.strftime("%H:%M"), :style => "color: #{meeting.font};"%>
              <% end %>
            <% else %>
              <% if meeting.start_time.strftime("%H:%M") == '00:00' %>
                <%= label_tag :nil, meeting.name, :style => "color: #{meeting.font};"%>
              <% else %>
                <%= link_to meeting.name + " - " + meeting.start_time.strftime("%H:%M") , meeting_path(meeting), {:style=> "color: #{meeting.font} ;"}%>
              <% end %>
            <% end %>
          </ul>
        </div>
      </nav>

    </div>
  <% end %>
<% end %>