<div class="simple-calendar">
  
  <div>
    
    <div class="calendarbuttons">
      <%= link_to "<span class='btn glyphicon glyphicon-arrow-left' id='SetaEsq' </span>".html_safe , start_date: date_range.first - 1.day %>
      
      <b class="btn mes-ano"> <%= I18n.t("date.month_names")[start_date.month] %>/<%= start_date.year %> </b>
      
      <%= link_to "<span class='btn glyphicon glyphicon-arrow-right' aria-hidden='true' id='SetaDir'></span> ".html_safe, start_date: date_range.last + 1.day  %>
    </div>
    

    <div class="color-swatches"> 
      <div class="color-swatch brand-Feriado"> Feriado </div>
      <div class="color-swatch brand-Agro_Canal"> Agro Canal </div> 
      <div class="color-swatch brand-Canal_do_Boi"> Canal do Boi </div>  
      <div class="color-swatch brand-Canal_Rural"> Canal Rural </div> <br>
      <div class="color-swatch brand-Aprovado"> Aprovado </div> 
      <div class="color-swatch brand-Novo_Canal"> Novo Canal </div> 
      <div class="color-swatch brand-Terra_Viva"> Terra Viva </div> 
      <div class="color-swatch brand-Sem_Transmissao"> S/ Trans </div> 
    </div>
    <div class="months hidden-print">
      <%= link_to "Jan", {start_date: "#{(date_range.first+10).strftime("%Y")}-01-01"}, class: 'btn btn-default' %>
      <%= link_to "Fev", {start_date: "#{(date_range.first+10).strftime("%Y")}-02-01"}, class: 'btn btn-default' %> 
      <%= link_to "Mar", {start_date: "#{(date_range.first+10).strftime("%Y")}-03-01"}, class: 'btn btn-default' %>
      <%= link_to "Abr", {start_date: "#{(date_range.first+10).strftime("%Y")}-04-01"}, class: 'btn btn-default' %>
      <%= link_to "Mai", {start_date: "#{(date_range.first+10).strftime("%Y")}-05-01"}, class: 'btn btn-default' %>
      <%= link_to "Jun", {start_date: "#{(date_range.first+10).strftime("%Y")}-06-01"}, class: 'btn btn-default' %>
      <%= link_to "Jul", {start_date: "#{(date_range.first+10).strftime("%Y")}-07-01"}, class: 'btn btn-default' %>
      <%= link_to "Ago", {start_date: "#{(date_range.first+10).strftime("%Y")}-08-01"}, class: 'btn btn-default' %>
      <%= link_to "Set", {start_date: "#{(date_range.first+10).strftime("%Y")}-09-01"}, class: 'btn btn-default' %>
      <%= link_to "Out", {start_date: "#{(date_range.first+10).strftime("%Y")}-10-01"}, class: 'btn btn-default' %>
      <%= link_to "Nov", {start_date: "#{(date_range.first+10).strftime("%Y")}-11-01"}, class: 'btn btn-default' %>
      <%= link_to "Dez", {start_date: "#{(date_range.first+10).strftime("%Y")}-12-01"}, class: 'btn btn-default' %>
    </div>
  </div>

  <br><br>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= I18n.t("date.abbr_day_names")[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day), style:"padding-top: 0px; padding-right: 0px; padding-left: 0px; font-weight: bold;padding-bottom: 0px;" do %>
              <% if defined?(Haml) && block_is_haml?(block) %>
                <% capture_haml do %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>