<div id="loginBody" class="panel panel-default animated fadeInLeft" style="margin-top: 120px">
  <div class="panel-heading">
    <h4><%= t('.sign_in', :default => "Sign in") %></h4>
  </div>
  
  <div>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> animated fadeIn" style="-webkit-animation-delay: 1s;">
        <a href="#" data-dismiss="alert" class="close">×</a>
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
      </div>
    <% end %>  
  </div>
  
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :username, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :senha %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
      <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-primary", :onClick => "loginAnimate()" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>